@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Bobby Jones Soft';
  src: url('/fonts/Bobby-Jones/Bobby-Rough.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply bg-light;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-shadow-custom {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  }
}

.btn-custom {
  @apply transition ease-in duration-300 transform hover:scale-110;
}

.h1-custom {
  @apply text-accent text-size-5 font-primary font-bold pb-spacing-2 sm:text-size-7;
}

.h2-custom {
  @apply text-secondary text-size-3 font-secondary font-semibold pb-spacing-1 pt-spacing-1 sm:text-size-5;
}

.h3-custom {
  @apply text-secondary text-size-2 font-secondary font-semibold pb-spacing-1  sm:text-size-4;
}

.p-custom {
  @apply text-primary text-size-1 font-secondary font-normal pb-spacing-1  sm:text-size-2;
}

/* ------------------------------------------------------------------------------------------
background variables
------------------------------------------------------------------------------------------ */

.bg-image-with-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/assets/images/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-services {
  background-image: url('/images/background1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.h1-template {
  @apply text-accent text-size-7 font-primary font-bold pb-spacing-2 sm:text-size-9;
}

.h2-template {
  @apply text-secondary text-size-4 font-secondary font-semibold pb-spacing-1 pt-spacing-1 sm:text-size-6;
}

.h3-template {
  @apply text-accent text-size-4 font-secondary font-semibold pb-spacing-1  sm:text-size-5;
}

.h4-template {
  @apply text-primary text-size-4 font-secondary font-semibold pb-spacing-1  sm:text-size-5;
}

.li-template{
  @apply text-primary text-size-2 font-secondary font-normal pb-spacing-1  sm:text-size-3;
}

/* --------------------------------------------- */
/* Gradient */
/* --------------------------------------------- */

.bg-gradient-primary {
  @apply bg-gradient-to-br from-primary to-accent;
}

/* --------------------------------------------- */
/* NavBar */
/* --------------------------------------------- */

.nav-link {
  @apply hover:text-accent active:text-terciary;
}


/* --------------------------------------------- */
/* Accordion Experience and Education */
/* --------------------------------------------- */

.accordion-title {
  @apply text-size-1 sm:text-size-2; 
}

.accordion-detail {
  @apply text-size-1 py-spacing-1 sm:text-size-2; /* Detalle del acordeón */
}

/* --------------------------------------------- */
/* Contador */
/* --------------------------------------------- */

.countdown-container {
  @apply flex flex-nowrap justify-center items-center bg-opacity-75  rounded-md  text-center   ;
  @apply space-x-2 sm:space-x-9;
  @apply px-4 sm:px-8;
  @apply overflow-x-auto;
}

.countdown-time {
  @apply text-size-8 font-bold text-light sm:text-size-20 ;
}

.countdown-label {
  @apply text-size-3 font-semibold text-light sm:text-size-10;
}

.countdown-segment {
  @apply flex flex-col items-center px-2 sm:px-4;;
}

.countdown-expired {
  @apply text-red-600 font-bold text-xl;
}

/* --------------------------------------------- */
/* Landing styles */
/* --------------------------------------------- */

.landing-product {
  @apply text-size-7 font-bobby  font-bold  pb-spacing-2 sm:text-size-12;
}

.landing-title {
  @apply text-size-9 font-bobby font-bold text-center  pb-spacing-2 sm:text-size-18;
}

.landing-subtitle {
  @apply text-size-2 font-secondary font-semibold  pb-spacing-1 pt-spacing-1 sm:text-size-7;
}

/* --------------------------------------------- */

.btn-landing {
  @apply bg-accent text-dark text-size-6 font-bobby text-lg font-bold px-spacing-3 py-spacing-1 sm:text-size-8 sm:py-spacing-4 sm:px-spacing-5;
  @apply border-2 border-dotted border-black hover:bg-dark hover:text-light rounded-full ;
  @apply flex items-start justify-center;  
  @apply transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95;
}

.btn-landing p {
  @apply flex items-center justify-center leading-none m-0;
}

.btn-landing-yellow {
  @apply bg-btn-cta-yellow text-landing-primary text-size-6 font-bobby text-lg font-bold px-spacing-3 py-spacing-1 sm:text-size-8 sm:py-spacing-4 sm:px-spacing-5;
  @apply border-2 border-dotted border-black hover:bg-dark hover:text-light rounded-full ;
  @apply flex items-start justify-center;  
  @apply transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95;
}

.btn-landing-yellow p {
  @apply flex items-center justify-center leading-none m-0;
}

.btn-hero-1 {
  @apply bg-landing-primary text-dark text-size-6 font-bobby text-lg font-bold px-spacing-3 py-spacing-1 sm:text-size-8 sm:py-spacing-4 sm:px-spacing-5;
  @apply border-2 border-solid border-black rounded-full ;
  @apply flex items-start justify-center;  
  @apply transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95;
}

.btn-landing-linkCourses {
  @apply bg-btn-cta-yellow text-landing-primary text-size-3 font-bobby text-lg font-bold px-spacing-1 py-spacing-2 sm:text-size-5 sm:py-spacing-3 sm:px-spacing-3;
  @apply border-2 border-dotted border-black hover:bg-dark hover:text-light rounded-full ;
  @apply flex items-start justify-center;  
  @apply transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95;
}

.btn-landing-linkCourses p {
  @apply flex items-center justify-center leading-none m-0;
}

.accordion-landing-title {
  @apply text-size-3 sm:text-size-6; 
}

.accordion-landing-subtitle {
  @apply text-size-2 sm:text-size-5; 
}

.accordion-landing-detail {
  @apply text-size-1 py-spacing-1 sm:text-size-2; /* Detalle del acordeón */
}
/* --------------------------------------------- */
